<form action="/category/store" method="POST">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="exampleInputEmail1">Name Category</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          placeholder="Ex : Valorant"
          name="name"
        />
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
  <button type="reset" class="btn btn-secondary">Reset</button>
</form>
